<section class="chatOverview">
    <article>
        <i class="fas fa-user-circle"></i>
        <p>Nina</p>
        <p>hey</p>
    </article>
    <article>
        <i class="fas fa-user-circle"></i>
        <p>Tanja</p>
        <p>New connection</p>
    </article>
    <article>
        <i class="fas fa-user-circle"></i>
        <p>Linda</p>
        <p>New connection</p>
    </article>
</section>