<article class="chatWindow">
    <section class="chatHeader">
        <h2>Chat with secondUser</h2>
    </section>
    <section class="chatContent">
        <p class="mainUserChat" >
            hoi
        </p>
        <p class="secondUserChat">
            hallo
        </p>
    </section>
    <form action="/message" method="post">
        <input name="message" placeholder="type your message">
        <button type="submit">Send</button>
    </form>
</article>