<nav>
    <ul>
        <li>
            <a href="/">Blind Love</a>
        </li>
        <li>
            <a href="/match">matching</a>
        </li>
        <li>
            <a href="/messages">messages</a>
        </li>
        <li>
            <a href="profile">username <i class="far fa-user-circle"></i></a>
        </li>
    </ul>
</nav>