<!DOCTYPE html>
    <meta charset="UTF-8">
    <title>Blind love</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a8dba9f9df.js" crossorigin="anonymous"></script>