<nav>
    <ul>
        <li>
            <a href="/index"><h1>Blind Love</h1></a>
        </li>
        <li>
            <a href="/match">matching</a>
        </li>
        <li>
            <a href="/messages">messages</a>
        </li>
        <li>
            <a href="profile">username <i class="far fa-user-circle"></i></a>
        </li>
    </ul>
</nav>