<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs'); -%>
</head>

<body>
    <header>
        <%- include('partials/header.ejs'); -%>
    </header>
    <main>
        <h1>Onze index pagina</h1>
    
    </main>
    <footer><%- include('partials/footer.ejs'); -%></footer>
</body>

</html>
