<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs'); -%>
</head>

<body>
    <header>
        <%- include('partials/header.ejs'); -%>
    </header>
    <main>
        <section>
            <h1>Blind love</h1>
            <p>
                Start your love life here! Match with one of our 1000 users and
                start dating.
            </p>
            <button>Create your account right now</button>
            <h2>Our success stories:</h2>
            <blockquote>
                "my boyfriend and I met on Blind love. Now we've been together for
                half a year!" - Meggy
            </blockquote>
            <blockquote>
                "I never believed in datingapps, but Blind love did it for me! I met
                my wife!" - John
            </blockquote>
            <blockquote>
                "I wish I found Blind Love sooner, once I matched with my girlfriend
                I knew it had to be her!" - Robin
            </blockquote>
            <p>
                Join Meggy, John, Robin and many more in your search for true love!
            </p>
            <button>Create your account right now</button>
        </section>
        <section>
            <img src=""
        </section>
    </main>
    <footer><%- include('partials/footer.ejs'); -%></footer>
</body>

</html>
