* {
    font-family: Helvetica;
    font-weight: light;
}

nav ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: lightgray;
    height: 3em;
    margin: -0.5em -0.5em 2em -0.5em;
}

nav ul li {
    align-content: center;
}

nav ul li:nth-child(1) {
    flex-grow: 2;
    font-size: 2em;
    font-weight: bold;
}

nav ul li a {
    padding-right: 2em;
    text-decoration: none;
    color: black;
}

.home {
    display: flex;
}

/*home page styling*/

.chat {
    display: grid;
    grid-template-columns: 30% 70%;
}

.homeText{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    align-items: center;
}

.homeText h1 {
    color: #b10139;
}

.homeText p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.homeText h2 {
    margin-top: 2em;
}

.homeText button {
    background-color: #ffbacc;
    padding: 1em;
    border-radius: 1em;
    align-self: center;
    font-size: 1em;
}


.homeProfiles {
    flex-grow: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5em;
    justify-items: stretch;
    align-items: stretch;
}

.homeProfiles img {
    width: 100%;
}

/*chat window styling*/
.chatOverview {
    border: 1px solid darkgray;
}

.chatOverview article {
    border-bottom: 1px solid darkgray;
    display: grid;
    padding: 0.5em 0;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr auto;
}

.chatOverview article i {
    font-size: 3em;
    padding: 0 0.5em;
    grid-row: 1 / 3;
}

.chatOverview article p,
.chatOverview article span {
    margin: 0;
}

.chatWindow {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border: 1px solid darkgray;

}

.chatWindow .chatHeader {
    border-bottom: 1px solid darkgray;
}

.chatWindow .chatContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 26em;
    overflow: scroll;
}

.secondUserChat {
    align-self: flex-start;
    background-color: darkgray;
    border: darkgray solid 1px;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em 0 0.5em 0.5em;
}

.mainUserChat {
    align-self: flex-end;
    background-color: green;
    border: green solid 1px;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em 0.5em 0.5em 0;
}

.mainUserChat i {
    font-size: 0.4em;
    padding-right: 1em;
}

.chatWindow form {
    align-self: flex-end;
    width: 100%;
    display: flex;
}

.chatWindow input {
    height: 2.5em;
    width: 100%;
}

.chatWindow button {
    height: 3em;
    background-color: #d2b2aa;
    align-self: flex-end;
}
