* {
    font-family: Helvetica;
    font-weight: light;
}

nav ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: lightgray;
    height: 3em;
    margin: -0.5em -0.5em 2em -0.5em;
}

nav ul li {
    align-content: center;
}

nav ul li:nth-child(1) {
    flex-grow: 2;
    font-size: 2em;
    font-weight: bold;
}

nav ul li a {
    padding-right: 2em;
    text-decoration: none;
    color: black;
}

main {
    display: flex;
}

.homeText{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    align-items: center;
}

.homeText h1 {
    color: #b10139;
}

.homeText p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.homeText h2 {
    margin-top: 2em;
}

.homeText button {
    background-color: #ffbacc;
    padding: 1em;
    border-radius: 1em;
    align-self: center;
    font-size: 1em;
}


.homeProfiles {
    flex-grow: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5em;
    justify-items: stretch;
    align-items: stretch;
}

.homeProfiles img {
    width: 100%;
}

